<h1>
Index
</h1>
<!-- <a href = "/contacto"> Contacto </a> -->

<form action = "/enviardatos" method="post">
	Username: <input type="text" name="username"/><br><br>
	Nombre: <input type="text" name="nombre"/><br><br>
	Apellido Paterno: <input type="text" name="apepaterno"/><br><br>
	Apellido Materno<input type="text" name="apematerno"/><br><br>
	<input type="submit" value="Enviar"/>
</form>
